@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,900;');

html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  display: grid;
  grid-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
  color: white;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 0;
  text-shadow: 3px 3px gray;
}

h2 {
  text-shadow: 2px 2px gray;
}

p, ul li {
  max-width: 40em;
  text-shadow: 1px 1px gray;
}

a {
  color: white;
}

a:visited {
  color: #e6e6e6;
}

main {
  background-color: rgba(137, 210, 239, 0.9);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFElEQVQImWNgwAbC1cP/Y5XAqhIAVAgDqU6jXT0AAAAASUVORK5CYII=),
                    linear-gradient(352deg, rgba(255,192,0,1) 0%, rgba(100,217,83,0.5) 12%, rgba(58,136,180,0.5) 35%, rgba(131,58,180,0.5) 64%, rgba(255,117,210,0.5) 83%, rgba(255,149,0,0.75) 100%);
  padding: 1em;
}

.footer {
  background: white;
}

.footer a, .footer a:visited {
  color: black;
  float: left;
}