.container {
  max-width: 660px;
}

h1 {
  font-size: 56px;
  padding-top:220px;
  font-family: 'Josefin Sans', san-serif;
}

h2 {
  font-size: 24px;
  padding-bottom:28px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.lead {
  font-family: 'Josefin Sans', sans-serif;
  font-weight:600;
  margin-bottom: 40px;
  margin-top:60px;
  font-size: 36px;
  line-height: 30px;
}

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}