.container {
  max-width: 660px;
}

h1 {
  font-size: 8rem;
  line-height: 12rem;
  font-weight: 800;
  padding-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'Josefin Sans', san-serif;
}

h2 {
  font-size: 4rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: #0FA0CE underline wavy;
}

ul {
  list-style: square outside;
  padding-left: 40px;
}

.lead {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top:60px;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}

.img-circle {
  margin-top: 14rem;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  float:right;
  margin-bottom:12px;
}
