@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,900;');

body {
  font-family: 'Open Sans', sans-serif;
}

#container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
  "style-nav"
  "header"
  "main"
  "footer";
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.style-nav {
  grid-area: style-nav;
}

.introduction {
  grid-area: header;
}

.content {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.main-image img {
  border-radius: 500px;
}

.style-nav {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1rem;
}

.style-nav img {
  width: 25px;
  height: 25px;
}

.style-nav ul {
  color: #fff;
  padding-left: 0;
}

.style-nav li {
  display: inline-block;
  background: rgb(22, 160, 133);
  line-height: 2.4rem;
}

.style-nav ul > li:first-child {
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 5px 0 0 5px;
}

.style-nav ul > li:last-child {
  border-radius: 0 5px 5px 0;
}

.style-nav button {
  height: 35px;
  border: 0;
  color: white;
  background: transparent;
  text-decoration: none;
  font-size: 1.7rem;
  cursor: pointer;
  vertical-align: middle;
}

.style-nav li {
  margin: 0;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.style-nav li:hover, .style-nav li:focus, .style-nav li:active {
  transform: translateY(4px);
  background: #fa5ba5;
  border-color: #fa5ba5;
}

.style-nav ul > li:first-child:hover {
  transform: none;
  background: rgb(22, 160, 133);
  border-color: rgb(22, 160, 133);
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeDown {
  -webkit-animation-name: fadeDown;
  animation-name: fadeDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

#null {
  vertical-align: top;
}

#unknownpleasures {
  float: right;
}

footer a {
  float: left;
}
