html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 20px;
}

body {
  background: linear-gradient(to bottom, rgba(126, 165, 255, 0.65) 0%,rgba( 	24, 40, 72, 0.95) 100%), url("../img/blue-texture.jpg");
  margin: 0;
  padding: 0;
} 
 
@keyframes swinging{
    0%{transform: rotate(-10deg);}
    60%{transform: rotate(10deg) translate(10vw,-10vw);}
    100%{transform: rotate(-10deg);}
}

.human {
  padding-top: 4vh;
  position: absolute;
  transform: rotate(0deg);
  transform-origin: bottom;
  animation: swinging 15s ease-in-out forwards infinite;
  opacity: 0.7;
  width: 70vw;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
}

h1 {
  font-style: italic;
  padding: 8vh;
  padding-top: 10em;
  font-size: 3em;
  color: rgb(21, 21, 89);
}

h2 {
  line-height: 1.2em;
}

h4 {
  margin-bottom: -1em;
}
a, a:visited {
  color: rgb(235, 91, 115);
  font-weight: bold;
  text-decoration-style: wavy;
  text-shadow: 1px 1px 0px rgba(0,0,0,1);
}


/**/

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(36, 8em);
  /* 2021 = 1 */
  /* 2020 = 2, 3, 4, 5*/
  /* 2019 = 6,7,8,9  */
  /* 2018 = 6,7,8,9 */
  /* 2017 = 10,11,12,13 */
  /* 2016 = 14,15,16,17 */
  /* 2015 = 18,19,20,21 */
  /* 2014 = 22,23,24,25 */
  /* 2013 = 26,27,28,29 */
  /* 2012 = 30,31,32,33 */
  /* 2011 = 34 */
  grid-column-gap: 0.5em;
  padding: 1.5em;
 }
 
.grid-container div {
  display: grid;
  align-items: start;
  border-top: 4px solid #223a59;
  border-bottom: 4px solid #223a59;
  margin: 0.25em;
  background: rgba(1,1,1,15%);
  box-shadow: 2px 2px 0px rgb(0,0,0,0.25);
}

.grid-container div section {
  height: 100%;
}

.grid-container div:nth-child(even) {
  margin-right: -0.5em;
  transform: rotate(0.5deg);
}

.grid-container div:nth-child(odd) {
  margin-left: -0.5em;
  transform: rotate(-0.5deg);
}

@media (max-width: 777px) {
  .grid-container {
    display: block;
  }
}

.grid-container div section {
  background-color: #0c1015;
  padding: 0.5em;
  z-index: 1001;
  /* texture from https://leaverou.github.io/css3patterns/#lined-paper */
  background-color: rgba(255, 255, 255, 0.8);
  background-image:
    linear-gradient(90deg, transparent 46px, #abced4 46px, #abced4 48px, transparent 48px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.8em;
}

.grid-container .mmdg section, .grid-container .mediaconch section, .grid-container .mirc section {
  z-index: 1002;
}

.grid-container .bc section, .grid-container .artefactual section {
  z-index: 1003;
}

.grid-container div section p {
  font-style: italic;
  margin: 0;
  font-weight: bold;
}

.grid-container .dvrescue {
  grid-column: 3 / 5;
  grid-row: 1 / 6;
}

.grid-container .pratt {
  grid-column: 5 / 7;
  grid-row: 1 / 6;
  z-index: 1004;
}

.grid-container .artefactual {
  grid-column: 1 / 3;
  grid-row: 1 / 10;
}

.grid-container .mmdg {
  grid-column: 3 / 5;
  grid-row: 5 / 11;
}

.grid-container .nypl {
  grid-column: 1 / 3;
  grid-row: 11 / 19;
}

.grid-container .mediaconch {
  grid-column: 3 / 5;
  grid-row: 10 / 23;
}

.grid-container .qctools {
  grid-column: 5 / 7;
  grid-row: 9 / 25;
}

.grid-container .lamama {
  grid-column: 4 / 6;
  grid-row: 17 / 21;
}

.grid-container .bc {
  grid-column: 1 / 3;
  grid-row: 21 / 21;
}

.grid-container .mirc {
  grid-column: 1 / 3;
  grid-row: 26 / 33;
}

.grid-container .other {
  grid-column: 4 / 6;
  grid-row: 28 / 32;
}

/**/

.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  padding-bottom: 2em;
}

@keyframes swingIn {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swingOut {
  0% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
  100% {
    transform: rotateX(-100deg);
    transform-origin: bottom;
    opacity: 0;
  }
}

.toggle-box + label + section {
  opacity: 0;
  margin-top: 2em;
	animation: swingIn 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.toggle-box:checked + label + section {
  opacity: 1;
  margin-top: 2em;
  animation: swingOut 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.toggle-box + label::before {
  background-color: #4879b9;
  border-radius: 0.15em;
  color: #FFFFFF;
  content: "\0270F";
  transform: rotate(180deg);
  display: block;
  float: right;
  font-weight: bold;
  font-size: 2.5em;
  height: 1.25em;
  line-height: 1.25em;
  text-align: center;
  width: 1.75em;
  transition: all 0.4s;
  box-shadow: -3px -4px 1px rgba(26, 49, 91, 0.8);
  z-index: 5000;
}

.toggle-box + label:hover::before {
  background-color: #335d95;
  font-size: 2.55em;
}

.toggle-box + label:active::before {
  background-color: #163155;
  font-size: 2.6em;
  content: "\02710";
}

