html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-size: 20px;
}

body {
 background: linear-gradient(to bottom, #7ea5ff 0%, #182848 100%);
 margin: 0;
 padding: 0;
} 
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}

.human {
  float: right;
  padding: 4em;
  position: absolute;
  transform: rotate(5deg);
  transform-origin: 30% 0;
  animation: swinging 15s ease-in-out forwards infinite;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-style: italic;
  padding: 5em;
  padding-top: 12em;
  font-size: 3em;
}

h2 {
  line-height: 1.2em;
}

a, a:visited {
  color: white;
}

dt {
  /* font-weight: 800; */
}

footer, footer > a {
  color: white;
}

footer > a {
  text-decoration-style: wavy;
}

/**/

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(34, 8em);
  /* 2020 = 1, 2, 3, 4, 5*/
  /* 2019 Q1 = 6,7,8,9  */
  /* 2018 = 6,7,8,9 */
  /* 2017 = 10,11,12,13 */
  /* 2016 = 14,15,16,17 */
  /* 2015 = 18,19,20,21 */
  /* 2014 = 22,23,24,25 */
  /* 2013 = 26,27,28,29 */
  /* 2012 = 30,31,32,33 */
  /* 2011 = 34 */
  grid-column-gap: 0.5em;
  padding: 0.5em;
 }
 
.grid-container div {
  display: grid;
  align-items: start;
  border-top: 4px solid #223a59;
  border-bottom: 4px solid #223a59;
  margin: 0.25em;
  background: rgba(1,2,3,25%);
}

@media (max-width: 777px) {
  .grid-container {
    display: block;
  }
}

.grid-container div section {
  background-color: #0c1015;
  padding: 0.5em;
  z-index: 1001;
  /* texture from https://leaverou.github.io/css3patterns/#lined-paper */
  background-color: rgba(255, 255, 255, 0.8);
  background-image:
    linear-gradient(90deg, transparent 46px, #abced4 46px, #abced4 48px, transparent 48px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.8em;
}

.grid-container .mmdg section, .grid-container .mediaconch section, .grid-container .mirc section {
  z-index: 1002;
}

.grid-container .bc section, .grid-container .artefactual section {
  z-index: 1003;
}

.grid-container div section p {
  font-style: italic;
  margin: 0;
  font-weight: bold;
}

.grid-container .artefactual {
  grid-column: 3 / 5;
  grid-row: 1 / 10;
}

.grid-container .mmdg {
  grid-column: 1 / 3;
  grid-row: 5 / 11;
}

.grid-container .nypl {
  grid-column: 1 / 3;
  grid-row: 11 / 19;
}

.grid-container .mediaconch {
  grid-column: 3 / 5;
  grid-row: 10 / 23;
}

.grid-container .qctools {
  grid-column: 5 / 7;
  grid-row: 9 / 25;
}

.grid-container .lamama {
  grid-column: 4 / 6;
  grid-row: 17 / 21;
}

.grid-container .bc {
  grid-column: 1 / 3;
  grid-row: 21 / 23;
}

.grid-container .mirc {
  grid-column: 1 / 3;
  grid-row: 24 / 34;
}

.grid-container .other {
  grid-column: 4 / 7;
  grid-row: 26 / 30;
}

/**/

.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
}

.toggle-box + label + section {
  display: none;
}

.toggle-box:checked + label + section {
  display: block;
}

.toggle-box + label:before {
  background-color: #223a59;
  border-radius: 2.75em;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: right;
  font-weight: bold;
  font-size: 1.5em;
  height: 2.75em;
  line-height: 2.75em;
  text-align: center;
  width: 2.75em;
  filter: drop-shadow(2px 2px 0px #244f88);
}

.toggle-box:checked + label:before {
  content: "\2212";
}